.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #search-input {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .info-blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .info-block {
    width: 25%;
    height: 200px;
    background-color: lightgray;
    margin: 0 5px;
  }
  .search-container {
    display: flex;
    align-items: center;
  }
  
  #search-button {
    margin-left: 10px;
  }
  #suggestions-list {
    list-style-type: none;
    padding: 0;
  }
  
  #suggestions-list li {
    cursor: pointer;
    padding: 5px;
  }
  
  #suggestions-list li:hover {
    background-color: lightgray;
  }
    